
*.dll
*.exe
Panda.API.Service/bin/Debug/netcoreapp3.1/appsettings.Development.json
Panda.API.Service/obj/Panda.API.Service.csproj.nuget.g.props
Panda.API.Service/obj/project.assets.json
Panda.API.Service/obj/project.nuget.cache
Panda.API.Service/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Panda.API.Service/obj/Release/netcoreapp3.1/DiamondEdge.API.AssemblyInfoInputs.cache
Panda.API.Service/obj/Release/netcoreapp3.1/DiamondEdge.API.assets.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/staticwebassets/Panda.API.Service.StaticWebAssets.Manifest.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/staticwebassets/DiamondEdge.API.StaticWebAssets.xml
Panda.API.Service/obj/Debug/netcoreapp3.1/staticwebassets/Panda.API.Service.StaticWebAssets.xml
Panda.API.Service/obj/DiamondEdge.API.csproj.nuget.g.targets
Panda.API.Service/obj/DiamondEdge.API.csproj.nuget.g.props
Panda.API.Service/obj/Panda.API.Service.csproj.nuget.dgspec.json
Panda.API.Service/obj/DiamondEdge.API.csproj.nuget.dgspec.json
Panda.API.Service/obj/DiamondEdge.API.csproj.nuget.cache
Panda.API.Service/obj/Panda.API.Service.csproj.nuget.g.targets
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.MvcApplicationPartsAssemblyInfo.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.AssemblyInfo.cs
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.AssemblyInfoInputs.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.assets.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.csproj.CopyComplete
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.csproj.CoreCompileInputs.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.csproj.FileListAbsolute.txt
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.csprojAssemblyReference.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.genruntimeconfig.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.MvcApplicationPartsAssemblyInfo.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.pdb
Panda.API.Service/obj/Debug/netcoreapp3.1/DiamondEdge.API.RazorTargetAssemblyInfo.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.AssemblyInfo.cs
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.AssemblyInfoInputs.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.assets.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.csproj.CopyComplete
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.csproj.CoreCompileInputs.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.csproj.FileListAbsolute.txt
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.csprojAssemblyReference.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.genruntimeconfig.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.pdb
Panda.API.Service/obj/Debug/netcoreapp3.1/Panda.API.Service.RazorTargetAssemblyInfo.cache
Panda.API.Service/obj/Debug/netcoreapp3.1/staticwebassets/DiamondEdge.API.StaticWebAssets.Manifest.cache
Panda.API.Service/obj/Release/netcoreapp3.1/DiamondEdge.API.AssemblyInfo.cs
Panda.API.Service/bin/Debug/netcoreapp3.1/appsettings.json
Panda.API.Service/bin/Debug/netcoreapp3.1/DiamondEdge.API.deps.json
Panda.API.Service/bin/Debug/netcoreapp3.1/DiamondEdge.API.pdb
Panda.API.Service/bin/Debug/netcoreapp3.1/DiamondEdge.API.runtimeconfig.dev.json
Panda.API.Service/bin/Debug/netcoreapp3.1/DiamondEdge.API.runtimeconfig.json
Panda.API.Service/bin/Debug/netcoreapp3.1/DiamondEdge.DataLayer.pdb
Panda.API.Service/bin/Debug/netcoreapp3.1/DiamondEdge.Services.pdb
Panda.API.Service/bin/Debug/netcoreapp3.1/Panda.API.Service.deps.json
Panda.API.Service/bin/Debug/netcoreapp3.1/Panda.API.Service.pdb
Panda.API.Service/bin/Debug/netcoreapp3.1/Panda.API.Service.runtimeconfig.dev.json
Panda.API.Service/bin/Debug/netcoreapp3.1/Panda.API.Service.runtimeconfig.json
Panda.API.Service/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Panda.API.Service/bin/Debug/netcoreapp3.1/Service.json
.vs/Panda/v16/TestStore/0/testlog.manifest
.vs/Panda/v16/TestStore/0/000.testlog
.vs/Panda/v16/.suo
.vs/Panda/config/applicationhost.config
.vs/Panda/DesignTimeBuild/.dtbcache.v2
*.pdb
Panda.Public.Data.Reader/bin/Debug/netcoreapp3.1/Panda.Public.Data.Reader.deps.json
Panda.Public.Data.Reader/obj/project.nuget.cache
Panda.Public.Data.Reader/obj/project.assets.json
Panda.Public.Data.Reader/obj/Panda.Public.Data.Reader.csproj.nuget.g.targets
Panda.Public.Data.Reader/obj/Panda.Public.Data.Reader.csproj.nuget.g.props
Panda.Public.Data.Reader/obj/Panda.Public.Data.Reader.csproj.nuget.dgspec.json
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.genruntimeconfig.cache
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.csprojAssemblyReference.cache
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.csproj.FileListAbsolute.txt
Panda.Public.Data.Reader/bin/Debug/netcoreapp3.1/Panda.Public.Data.Reader.runtimeconfig.dev.json
Panda.Public.Data.Reader/bin/Debug/netcoreapp3.1/Panda.Public.Data.Reader.runtimeconfig.json
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.AssemblyInfo.cs
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.AssemblyInfoInputs.cache
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.assets.cache
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.csproj.CopyComplete
Panda.Public.Data.Reader/obj/Debug/netcoreapp3.1/Panda.Public.Data.Reader.csproj.CoreCompileInputs.cache
